BeautifulSoup4
IPython
aiosqlite
alembic
bcrypt
celery
django
django-celery-beat
django-celery-results
django-ninja
fastapi
html5lib
httpx
lxml
matplotlib
numpy
openpyxl
pandas
passlib[bcrypt]
psycopg2-binary
pydantic[email]
python-jose[cryptography]
python-multipart
pytz
redis
requests
scipy
sphinx==7.2.*
sphinx-rtd-theme
sqlalchemy
uvicorn[standard]
xlrd
tabula-py
